.header {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  font-size: 1.4rem;

  .logo {
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      height: 2rem;
      width: 2rem;
      color: red;
    }

    span {
      &:first-of-type {
        margin-right: 0.4rem;
      }

      &:last-of-type {
        margin-left: 0.4rem;
      }
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
      margin: 0 2rem;

      &:hover,
      &:active {
        background: linear-gradient(180deg,rgba(255,255,255,0) 50%, lightcoral 50%);
      }
    }
  }
}
