.header {
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  h1 {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
  }

  .links {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .link {
      font-size: 2rem;
      margin: 0 2rem;
    }
  }
}
