.skills {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 60vh;
  font-size: 1.8rem;
  line-height: 1.6;

  .list_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    ul:first-of-type {
      grid-column: 2/4;
    }

    ul {
      grid-column: 4/6;
    }

    @media (max-width: 1200px) {
      ul:first-of-type {
        grid-column: 1/4;
      }

      ul {
        grid-column: 4/7;
      }
    }
  }

  p {
    a {
      text-decoration: underline;
    }
  }
}
@media (max-width: 1200px) {
  .skills {
    grid-column: 2/12;
  }
}
