.skills {
  grid-column: 4 / 10;
  display: flex;
  flex-direction: column;

  .list_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    ul:first-of-type {
      grid-column: 2/4;
    }

    ul {
      grid-column: 4/6;
    }
  }
}
