.portfolio {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .tab {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .chevron {
      height: 4vh;
      width: 4vh;
    }
  }

  .card_active {
    background-color: #dedede;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;

    .chevron {
      color: #dedede;
    }
  }

  .card_inactive {
    background: #1e1e1e;
    color: #fafafa;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;

    .chevron {
      color: #fafafa
    }
  }

  .card {
    padding: 0 10rem 6rem 10rem;
    width: 80vw;
    transform: translateY(-8vh);

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        display: flex;
        .icon {
          display: flex;
          align-self: start;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;
          padding-top: 0.6rem;
          & > * {
            height: 1.2rem;
            width: 1.2rem;
          }
        }
        margin-bottom: 1rem;
      }
    }

    .projects_primary {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        width: 50%;
      }

      a {
        &:hover {
          span {
            background: linear-gradient(180deg,rgba(255,255,255,0) 50%, lightcoral 50%);
          }
        }
      }

      .img {
        width: 45%;

        & > * {
          box-shadow: 0.6rem 1rem 5rem rgba(0,0,0,0.6);
        }
      }

      .null_image {
        background: #bcbcbc;
        height: 20rem;

        display: flex;
        justify-content: center;
        align-items: center;
        color: #545454;
      }
    }
  }
}

.src_link {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, lightcoral 50%);
  padding: 0 2px;
}
