.portfolio {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 60vh;
  font-size: 1.6rem;
  line-height: 1.6;

  h2 {
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      margin-bottom: 1rem;

      .icon {
        display: flex;
        align-self: start;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        padding-top: 0.6rem;

        & > * {
          height: 1.2rem;
          width: 1.2rem;
        }
      }
    }
  }

  .project_item {
    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }

  .projects_primary {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;

    .null_image {
      aspect-ratio: 2;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img {
      align-self: start;
      margin-top: 10rem;
      margin-left: 2rem;
    }
  }
}

@media (max-width: 1200px) {
  .portfolio {
    .projects_primary {
      ul {
        grid-row: 2;
      }

      .img {
        grid-row: 1;
        margin-bottom: 1rem;
      }
    }
  }
}
