.portfolio {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card_active {
    background-color: #dedede;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
  }

  .card_inactive {
    background: lightcoral;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
  }

  .card {
    padding: 8vh 10rem 6rem 10rem;
    width: 80vw;
    transform: translateY(-8vh);

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }

    ul {
      li {
        margin-bottom: 1rem;
      }
    }

    .projects_primary {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        width: 60%;
      }

      a {
        &:hover {
          span {
            background: linear-gradient(180deg,rgba(255,255,255,0) 50%, lightcoral 50%);
          }
        }
      }

      .img {
        width: 40%;
        background-color: orangered;
        height: 20rem;
      }
    }
  }
}

.src_link {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, lightcoral 50%);
  padding: 0 2px;
}
