.card {
  position: absolute;
  z-index: 10;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: black;
  padding: 3rem 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  animation: card 0.4s linear;

  .content {
    font-size: 1.2rem;

    .backButton {
      cursor: pointer;
      display: flex;
      align-items: center;

      .icon {
        margin-right: 0.4rem;
        height: 1.6rem;
        width: 1.6rem;
        color: #fff;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  scrollbar-color: #555 black;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #000;
  }

  &::-webkit-scrollbar-thumb {
    background: #555;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

.pageLinks {
  font-family: "Cormorant Garamond", serif;
  margin-top: 1rem;
  display: flex;
  font-size: 2rem;

  div {
    padding-right: 1rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes card {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
