@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,700;1,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  // text-decoration: underline;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

  &:hover,
  &:active {
    text-shadow: 3px 3px 22px #000;
  }
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 75%;
  }
}

@media (min-width: 1600px) {
  html,
  body {
    font-size: 90%;
  }
}
