.pre_main {
  height: 95vh;
  display: flex;
  justify-content: center;
  background-color: #fafafa;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;

    span {
      font-weight: 700;
      font-size: 1.8rem;
      align-self: end;
    }
  }
}

@media (max-width: 600px) {
  .pre_main {
    h1 {
      white-space: break-spaces;
      margin: 0 4rem;
    }
    div {
      span {
        margin: 2rem 6rem;
        align-self: start;
        font-size: 2.4rem;
      }
    }
  }
}


.main {
  background-color: #ededed;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  line-height: 1.8;
  transform: translateY(-6vh);
}
