.main {
  position: relative;

  .userLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    a {
      border-radius: 100rem;
      height: 5rem;
      width: 5rem;
      display: flex;
      align-items: center;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;

      .icon {
        height: 3rem;
        width: 3rem;
        margin: 0 auto;
        color: #545454;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .6s;
      }

      &:hover {
        background-color: #fff;

        .icon {
          color: #000;
        }
      }
    }
  }
}

.wrapper {
  z-index: 1;
  background-color: black;
  display: flex;
  align-items: center;
  width: 150vw;

  @media (max-width: 900px) {
    width: 200vw;
  }
  @media (max-width: 500px) {
    width: 400vw;
  }
}
